* {margin: 0; padding: 0; box-sizing: border-box;}
.heading {
  color: crimson;
  text-align: center;
  text-transform: capitalize;
  margin: 50px 0;
}
.img_div{
display: flex;
justify-content: center;

}
.img_div{
width: 200px;
height: 350px;
margin: auto;

}
